# Created by https://www.toptal.com/developers/gitignore/api/text
# Edit at https://www.toptal.com/developers/gitignore?templates=text

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.exe
capitalcheck.exe
DeleteNode.exe
Wordsearch.exe 
middleoflist.exe
dsa.webp



# End of https://www.toptal.com/developers/gitignore/api/text
